*{
    margin: 0;
    padding: 0%;
}
h1{
    text-align: center;
    color: pink;
}
.prob{
    align-items: center;
    margin-left: 530px;
}
.text{
    width: 390px;
    height: 330px;
    background-image: radial-gradient(blue, aqua, pink);
    color: black;
    text-align: center;

}
