body{
    border: 2px solid grey;
    background-color: #F7F7F7;
    height: 700px;
    width: 1000px;
    margin-top: 40px;
    margin-left: 230px;
}


.heading{
    background-color: white;
    font-size: large;
    font-style: normal;
    margin: 0px;
    padding: 1px;


}
.text{
    color: lightskyblue;
}

.icon{
    margin-left: 800px;
}
.child1{
    border: 2px solid white;
    height: 250px;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    padding-left: 10px;
    margin-left: 30px;
}
.text2{
    text-decoration: line-through;
    color: gray;
}

.child2{
    border: 2px solid white;
    height: 250px;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    padding-left: 10px;
}
.text4{
    text-decoration: line-through;
    color: gray;
}

.child3{
    border: 2px solid white;
    height: 250px;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    padding-left: 10px;
    margin-right: 30px;
}
.text6{
    text-decoration: line-through;
    color: gray;
}

.child4{
    border: 2px solid white;
    height: 150px;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    padding-left: 10px;
    position: absolute;
    left: 65px;
    top: 300px;
}
.text8{
    text-decoration: line-through;
    color: gray;
}

.child5{
    border: 2px solid white;
    height: 150px;
    width: 250px;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    padding-left: 10px;
    position: absolute;
    left: 370px;
    top: 300px;
}
.text10{
    text-decoration: line-through;
    color: gray;
}

.parent{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.subpage{
    background-color: white;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    margin-left: 300px;
    margin-top: -260px;
    position: absolute;
    bottom: 400px;
}
.text11{
    background-color: lightgray;
    padding: 5px;
    margin: 10px;
}
.textb{
    margin-left: 250px;
}
.text13{
    border: 2px solid #00A5EC;
    background-color: #00A5EC;
    width: 100px;
    padding: 5px;
    margin-left: 270px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.page2{
    filter: blur(1px);
    position: relative;
}

.heading3{
    background-color: white;
    font-size: large;
    font-style: normal;
    margin-top: 0px;
    padding: 1px;
    padding-left: 80px;


}

.c{
    color: lightskyblue;
}

.icon3{
    margin-left: 400px;
}
.d{
    border: 2px solid white;
    height: 250px;
    width: 350px;
    border-radius: 5px;
    background-color: white;
    margin-top: 40px;
    padding-left: 10px;
    margin-left: 300px;
}
.e{
    text-decoration: line-through;
    color: gray;
}

.parentclass4{
    filter: blur(1px);
    position: relative;
}
.subpage4{
    background-color: white;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    margin-left: 300px;
    margin-top: -260px;
    position: absolute;
    bottom: 300px;
}
.text444{
    background-color: lightgray;
    padding: 5px;
    margin: 10px;
}
.text44{
    margin-left: 250px;
}
.text4444{
    border: 2px solid #00A5EC;
    background-color: #00A5EC;
    width: 100px;
    padding: 5px;
    margin-left: 270px;
    margin-bottom: 20px;
    border-radius: 5px;
}
