body{
    background-color: grey;
    background-size: cover;
    position: relative;
}
.box1{
    border: 8px solid tomato;
    background-color: white;
    box-shadow: 10px 10px 10px purple;
    border-radius: 10px;
    color: maroon;
    text-align: center;
    margin-top: 0px;
    margin-left: 450px;
    width: 500px;
    line-height: 2;
}
.container1{
    border: 10px solid darkgreen;
    position: relative;
    height: 500px;
}
.box2{
    border: 8px solid tomato;
    background-color: white;
    color: black;
    box-shadow: 10px 10px 10px purple;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 160px;
    line-height: 2;
    position: absolute;
    top: 0px;
    left: 0px;
}
.box3{
    border: 8px solid tomato;
    background-color: white;
    box-shadow: 10px 10px 10px purple;
    border-radius: 10px;
    width: 200px;
    height: 160px;
    position: absolute;
    top: 0px;
    right: 20px;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
.box4{
    border: 8px solid tomato;
    background-color: white;
    color: black;
    box-shadow: 10px 10px 10px purple;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 160px;
    position: absolute;
    bottom: 20px;
    left: 0px;

}
.box5{
    border: 8px solid tomato;
    background-color: white;
    color: black;
    box-shadow: 10px 10px 10px purple;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 160px;
    position: absolute;
    bottom: 20px;
    right: 20px;

}

.container2{
    border: 8px solid purple;
    background-color: darkgreen;
    color: black;
    text-align: center;
    width: 900px;
    height: 640px;
    margin-left: 300px;
    margin-top: 20px;
    position: relative;
}
.box7{
    border: 2px solid yellow;
    background-color: yellow;
    color: black;
    width: 440px;
    height: 260px;
    line-height: 2;
    position: absolute;
    left: 0;
    top: 80px;
}
.box8{
    border: 2px solid yellow;
    background-color: yellow;
    color: black;
    width: 440px;
    height: 260px;
    line-height: 2;
    position: absolute;
    right: 0;
    top: 80px;
}
.box9{
    border: 2px solid yellow;
    background-color: yellow;
    color: black;
    width: 910px;
    height: 250px;
    line-height: 2;
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
}
.box6{
    border: 8px solid tomato;
    background-color: greenyellow;
    color: maroon;
    position: fixed;
    height: 50px;
    width: 400px;
    display: flex;
    gap: 120px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-left: 500px;
}