/* .container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 30px 30px 30px;
    grid-gap: 5px;
}
.child{
    background-color: aqua;
    color: black;
    text-align: center;
    justify-content: center;
} */


.parent{
    border: 2px solid green;
    background-color: green;
    width: 100px;
    height: 100px;
    transition: width 2s;
}
.parent:hover{
    width: 300px;
}