body{
    background-color: #8fbaba;
    background-size: cover;
    position: absolute;
    border: 8px groove green;
    margin: 0px;
    padding: 0px;
}
.Box1{
    background-color: black;
    border: 5px solid red;
    color: white;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
}
.Box2{
    background-color: black;
    border: 5px solid red;
    color: white;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-left: -25%;
    margin-top: 22px;
    height: 20px;
}
.Box3{
    background-color: black;
    border: 5px solid red;
    color: white;
    width: 300px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    margin-left: 40px;
    margin-top: 15px;
}
.container{
    display: flex;
    justify-content: space-around;
}
.offers{
    background-color: aquamarine;
    border: 5px solid gray;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    text-align: center;
    margin-top: 200px;
    margin-left: 200px;
}
.form{
    color: white;
}

.form1{
    position: relative;
    bottom: 300px;
    left: 100px;
    border: 5px dashed red;
    color: red;
    background-color: white;
    height: 700px;
    width: 400px;
    text-align: center;
    margin-left: 700px;

}

.menu{
    background-color: black;
    border: 5px solid red;
    color: white;
    text-align: center;
    width: 500px;
    height: 70px;
    bottom: 200px;
    margin-left: 600px;
    border-radius: 50px;
    position: relative;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.box4{
    border: 3px solid green;
    background-color: aqua;
    width: 400px;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    
}
.box5{
    border: 3px solid green;
    background-color: aqua;
    width: 400px;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    
}
.box6{
    border: 3px solid green;
    background-color: aqua;
    width: 400px;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    
}
.box7{
    border: 3px solid green;
    background-color: aqua;
    width: 400px;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    
}
.box8{
    border: 3px solid green;
    background-color: aqua;
    width: 400px;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
}
.box9{
    border: 3px solid green;
    background-color: aqua;
    width: 400px;
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
}